# Anthropic / Claude Credentials
ANTHROPIC_API_KEY=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
CLAUDE_MODEL=claude-sonnet-4-5
ANTHROPIC_VERSION=2023-06-01

# Supabase Konfiguration
NEXT_PUBLIC_SUPABASE_URL=https://jkipppgvcsucrdzjedwo.supabase.co
NEXT_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkanFubHZrZmdzZmF5YmhubmNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjExNDAzMjgsImV4cCI6MjA3NjcxNjMyOH0.Y6FR2nX-UMpE4-AGIMOmN_9MxYP9--Y9B-Z5Se4hQK0
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_WBqSNZVWWxXRq9Df_YAL7o7An1hPusvKPswA318x6xUazqu"
