# Supabase Konfiguration
# Kopiere diese Datei nach .env.local in deinem Projekt-Root

NEXT_PUBLIC_SUPABASE_URL=https://jkipppgvcsucrdzjedwo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpraXBwcGd2Y3N1Y3JkemplZHdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjExOTQ3MDIsImV4cCI6MjA3Njc3MDcwMn0.R1PvND9HHQTSWIq3Z9xY_GTmmSV2W6iS1W_IwFMFlm0
